<div class="panel panel-group">
  <div>
    <button type="submit" class="btn btn-primary" style="margin:5px" (click)="GetTickets()">CONSULTAR TICKETS</button>
    <button type="submit" class="btn btn-primary" (click)="AddTicket()">AGREGAR</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>CÓDIGO</th>
          <th>CLIENTE</th>
          <th>CONTROL</th>
          <th>REQUERIMIENTO</th>            
          <th>ESTADO</th>
          <th>VER DETALLE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of listTickets">
          <td>{{ticket.Id}}</td>
          <td>{{ticket.CodeClient}}</td>
          <td>{{ticket.Control}}</td>
          <td>{{ticket.Requeriment}}</td>            
          <td>{{ticket.State}}</td>            
          <td><button type="submit" class="btn btn-info">Detalles</button></td>
        </tr>
      </tbody>
    </table>
   </div>
  </div>
