<p>
  Medicamentos del PAciente!
</p>
<div *ngIf="medicine?.Code">
  <input type="text" [(ngModel)]="medicine.Code">
  <input type="text" [(ngModel)]="medicine.Dose">
  <input type="text" [(ngModel)]="medicine.Unity">
  <input type="text" [(ngModel)]="medicine.Frecuency">
  <input type="text" [(ngModel)]="medicine.Duration">
  <input type="text" [(ngModel)]="medicine.Posology">
  <input type="text" [(ngModel)]="medicine.Name">
  <input type="text" [(ngModel)]="medicine.Type">
  <input type="text" [(ngModel)]="medicine.Comments">
</div>
